html,
body {
  
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.8;
  min-width: 300px;
  margin: 0;
  
}

#top-bar{
  height:80px;
  width:100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-headline{
  font-size: 1.8em;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding-bottom:20px ;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between; /* 让按钮在两侧对齐 */
  padding: 0px;
  max-width: 425px;
  margin: 0 0 50px 0; /* 居中容器 */
}

.menu-item2 {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.menu-item2::before {
  content: '▶';
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s;
  margin-left: 10px;
}
.menu-item2.open::before {
  transform: rotate(90deg);
}

.button {
  padding: 1px 10px;
  background-color: white;
  color: rgb(70, 193, 250);
  text-decoration: underline;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  margin: 0;
}
.button:hover {
  background-color: lightgray;
}

#title{
  text-align: left;
  padding:10px 0 0 25px;
}

.toggle-btn{
  display: none;
}

.sidebar {
  position: fixed ;
  top: 90px;
  right: 0px;
  width: 180px;
  height: 100%;
  border-right: none;
  font-size: 0.8rem;

}

.head {
  position: relative;
  left: -15px;
  color: black;
  margin: 10px ;
  padding-bottom: 0;
  padding-right: 60px;
  font-size: 1.2em;
  font-weight: thin;
  text-align: center;
  
  white-space: nowrap;
}
.head p{
  
  font-size: 1.2rem;
}


.menu-item {
  cursor: pointer;
  user-select: none;
  padding-bottom: 1rem;
}
.menu-item::before {
  content: '▶';
  display: inline-block;
  margin-right: 5px;
  transition: all transform 0.1s;
}
.menu-item.open::before {
  transform: rotate(90deg);
}

.submenu {
  display: none;
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}
.submenu.show {
  display: block;
  height:100%;
}

.menu{
  padding: 0;
}

.leftbar{
  padding: 0;
  margin: 0;
  position: fixed ;
  top: 90px;
  left: 0px;
  width: 100px;
  height: 100vh;
  border-right: none;
  font-size: 0.8rem;
  overflow-y: auto;
  

}



.leftbar ul {
  box-sizing: border-box;
  
  height: 90%;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
  overflow-y: auto;
  list-style-type: none;

}
.leftbar .submenu{
  text-align: left;
  padding-left: 20px;
}

.leftbar .menu li {
  color: #022bf7;
  
  list-style: none;
  position: relative;
  width:100%;
}

#unit1, #unit2, #unit3{
  position: relative;

  display: felx;
  text-align: left;
}

.leftbar .menu li:last-child{
  padding-bottom: 10px;
  
}


.leftbar .menu a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0;
 
}



.leftbar .menu a:hover{
  color: #51ccfd;
  background-color: #ddd;

}



.sidebar ul {
  height: 90%;
  margin: 0;
  padding: 0 0 0px 0;
  overflow-y: auto;
  border-left: 1.5px solid #c7c7c7;

}

.sidebar .menu li {
  color: #4d4e53;
  font-weight: lighter;
  list-style: none;
  position: relative;
  width:100%;
  
}

.sidebar .menu li:last-child{
  padding-bottom: 200px;
}

.sidebar .menu a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.sidebar .menu a:hover{
  color: #51ccfd;
  background-color: #ddd;

}

#main-doc {

  position: absolute;
  margin-left: 120px;
  padding: 0px 40px 20px 20px;
  margin-bottom: 110px;
  margin-right: 120px;
  margin-top: 60px;
  max-width: 700px;
}

#multichoice {
  position: absolute;
  margin-bottom: 110px;
}

.headline{
  font-size: large;
  margin: 0 0 0 0;
  padding:0 0 0 0;
}

article {

  max-width: 800px; /* 设置最大宽度，防止内容过宽 */
  padding: 10px 20px; /* 增加内边距 */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加轻微阴影效果 */
  text-align: justify;
  margin-top: 10px;
}

#translation-text{
  margin:0 0 40px 10px;
}

.highlight {
    font-weight: bold;
}


table {
    border-collapse: collapse;
    width: 100%;
    width:auto;  
    margin-top: 10px;
   
  }
  
  th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
    padding: 5px;

  }
  .top_30{
    margin:30px 0 0 0;
    padding:0;
    text-align: justify;
  }

  .top_5{
    margin:5px 0 0 0;
    padding:0;
  }
  .padding_20{
    margin:0px;
    padding:0px 0px 0 20px;
  }



#notes{
  text-align: justify;
  background-color: rgb(255, 255, 255);

}

#translation-text{
  margin: 30px 0 0 0;
  padding:0;

}

h4{
  font-size: large;
  margin:0;
  padding:0;
}



#s_answer{
  margin:10px 0 0 0;
  padding: 0;
}

#compo_text{
  text-align: justify;
}

#letter_text{
  text-align: justify;
}

#compo_content{
  position: relative;
  font-style: italic;
  color:rgb(97, 97, 97);

  
}

  .question{
    margin:10px 0 20px 0;
  }
  
.choice{
  list-style-type: none;
  counter-reset: list;

  padding: 2px 0 0 0;
}


.choice li{
  counter-increment: list;
  margin-bottom: 5px;
}

.choice li::before{
  content: "(" counter(list, lower-alpha) ") ";
  font-weight: bold;
}




@media only screen and (max-width: 769px) {
  /* For mobile phones: */
*{
  margin:0;
  padding: 0;
}



  #top-bar{
    position: fixed;
    top:0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
    text-align: center;
    margin: 20px auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main-headline{
  text-align: center;;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between; /* 让按钮在两侧对齐 */
  padding: 0px;
  max-width: 420px;
  margin: 0 auto; /* 居中容器 */
  margin-bottom: 40px;
}

  
  #main-doc {
    margin-top: 100px;
    position: relative;
    margin-left: 20px;
    margin-right: 40px;
    padding-right: 0;
  }

  .sidebar {
    margin-top: 80px;
   
    left: -100%;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    transition: left 0.3s ease;
    z-index: 1;
    border: none;
    box-sizing: border-box;
}

.toggle-btn {
    position: absolute;
    left: 25px;
    top: 50px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0px 8px ;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}

#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked + .sidebar {
  left: 0;

}


.nav-list li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}
.nav-list li a:hover {
    background-color: #ddd;
    color: turquoise;
}


}



